<div class="launchpad-container">
    {% include launchpad-top-row.html %}

    <!-- First row of pads -->
    <div class="launchpad-pad pad-yellow intensity-3"></div>
    <div class="launchpad-pad pad-red intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-purple intensity-3"></div>
    <div class="launchpad-pad pad-cyan intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-yellow intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-button launchpad-right-button launchpad-arrow-button"></div>

    <!-- Additional rows would follow the same pattern -->
    <!-- For brevity, showing just one more row -->
    <div class="launchpad-pad pad-red intensity-2"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-blue intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-green intensity-3"></div>
    <div class="launchpad-pad pad-red intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-purple intensity-2"></div>
    <div class="launchpad-button launchpad-right-button launchpad-arrow-button"></div>

    <!-- For brevity, showing just one more row -->
    <div class="launchpad-pad pad-red intensity-2"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-blue intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-green intensity-3"></div>
    <div class="launchpad-pad pad-red intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-purple intensity-2"></div>
    <div class="launchpad-button launchpad-right-button launchpad-arrow-button"></div>

    <!-- For brevity, showing just one more row -->
    <div class="launchpad-pad pad-red intensity-2"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-blue intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-green intensity-3"></div>
    <div class="launchpad-pad pad-red intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-purple intensity-2"></div>
    <div class="launchpad-button launchpad-right-button launchpad-arrow-button"></div>

    <!-- For brevity, showing just one more row -->
    <div class="launchpad-pad pad-red intensity-2"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-blue intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-green intensity-3"></div>
    <div class="launchpad-pad pad-red intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-purple intensity-2"></div>
    <div class="launchpad-button launchpad-right-button launchpad-arrow-button"></div>

    <!-- For brevity, showing just one more row -->
    <div class="launchpad-pad pad-red intensity-2"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-blue intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-green intensity-3"></div>
    <div class="launchpad-pad pad-red intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-purple intensity-2"></div>
    <div class="launchpad-button launchpad-right-button launchpad-arrow-button"></div>

    <!-- For brevity, showing just one more row -->
    <div class="launchpad-pad pad-red intensity-2"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-blue intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-green intensity-3"></div>
    <div class="launchpad-pad pad-red intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-purple intensity-2"></div>
    <div class="launchpad-button launchpad-right-button launchpad-arrow-button"></div>

    <!-- For demo purposes, we'll skip to the last row -->
    <div class="launchpad-pad pad-orange intensity-3"></div>
    <div class="launchpad-pad pad-red intensity-1"></div>
    <div class="launchpad-pad pad-blue intensity-3"></div>
    <div class="launchpad-pad pad-green intensity-3"></div>
    <div class="launchpad-pad pad-off"></div>
    <div class="launchpad-pad pad-cyan intensity-3"></div>
    <div class="launchpad-pad pad-yellow intensity-3"></div>
    <div class="launchpad-pad pad-purple intensity-3"></div>
    <div class="launchpad-button launchpad-right-button launchpad-stop-solo-mute"></div>
</div>