<style>
    .launchpad-session {
        color: cyan;
    }

    .launchpad-drums {
        color: cyan;
    }

    .launchpad-keys {
        color: cyan;
    }

    .launchpad-user {
        color: cyan;
    }
</style>
<div class="launchpad-button launchpad-top-button launchpad-session"></div>
<div class="launchpad-button launchpad-top-button launchpad-drums"></div>
<div class="launchpad-button launchpad-top-button launchpad-keys"></div>
<div class="launchpad-button launchpad-top-button launchpad-user"></div>
<div></div> <!-- Empty corner cell -->