<style>
    .launchpad-arrow-up {
        color: green;
    }

    .launchpad-arrow-down {
        color: cyan;
    }

    .launchpad-arrow-left {
        color: red;
    }

    .launchpad-arrow-right {
        color: gray;
    }
</style>
<div class="launchpad-button launchpad-top-button launchpad-arrow-up">
</div>
<div class="launchpad-button launchpad-top-button launchpad-arrow-down">
</div>
<div class="launchpad-button launchpad-top-button launchpad-arrow-left">
</div>
<div class="launchpad-button launchpad-top-button launchpad-arrow-right">
</div>